html,body,#root {
    height: 100%;
    width: 100%;
    background-color: #0074D9;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top {
    margin-top: auto;
}

h1 {
    font-size: 5vw;
}

h1:hover {
    cursor: pointer;
}

.basketball-icon {
    vertical-align: middle;
}

.search-container {
    width: 100%;
}

.search-icon{
    padding: 10px;
    position: absolute;
}

input[type=text] {
    border-radius: 8px;
    border: 1px solid black;
    width: 50%;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.player-list{
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.player {
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    min-width: 20%;
}

.player-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.player-name {
    font-size: 2vw;
    font-weight: 500;
}

.player-button {
    padding: 10px;
    border-radius: 50px;
    width: 50%;
    outline: none;
}

.player-button:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 8vw;
    }
    .player {
        width: 50%;
    }
    .player-list {
        flex-direction: column;
    }

    .player-name {
        font-size: 4vw;
    }

    .player-button {
        width: 40%;
    }
}
